/*reset rulez*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*debug*/

.debug{
    border: 1px dotted violet;
}

/*general rules*/

.fixedBar{
    display:flex;
    justify-content:space-around;
    align-items: center;
    width:100%;
    height: 50px;
    z-index: 10;
    position:fixed;
    top:0;
    left:0;
    background-color: rgb(255, 105, 0);
    color:white;
}
a {
    color:white;
    text-decoration: none;
}

.smallFont{
    font-size: 11px;
}

.redFont{
    color:red;
}

.capsBold{
    text-transform: uppercase;
    font-weight:bold;
}

.product .capsBold{
    font-size:13px;
}

.barrato{
    text-decoration: line-through;
}

/*header*/

.logo{
    text-align: center;
}

.booleanLogo{
    position: relative;
    right: 50%;
    width: 100px;
}


.gender a, .menuIcons a{
    padding: 0 5px;
}

/*main*/

main{
    padding-top:200px;
}

.mainContainer{
    width: 80%;
    margin: 0 auto;
}

.columns{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
}

.col{
    width: calc(100% / 3);
    padding:20px;
}

.article{
    position: relative;
    z-index: 3;
}

.article img{
    position: relative;
    z-index: -2;
    top:0;
    left:0;
    width: 100%;
}

.article .sideB{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
}

.article:hover .sideB{
    z-index:0;
}

.absoluteTopRight{
    font-size: 30px;
    position: absolute;
    z-index: 4;
    top: 5px;
    right: 0;
    background-color: white;
    padding: 5px;
}

.absoluteBottomLeft{
    position: absolute;
    bottom: 70px;
    left: 0;
}

.discount{
    background-color: rgb(255,  0, 0);
}

.eco{
    background-color: rgb(0, 128, 0);
}

.label{
    color: white;
    padding: 2px 5px;
    font-size: 12px;
}

.absoluteTopRight:hover .favourite{
    color:red;
}
.absoluteTopRight:active .favourite{
    color:red;
}